*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	color: white;

}

@font-face {
    font-family: 'Bebas-neue-bold';
    src: url("../Fonts/bebas-neue-bold.ttf");
}

.header_container {
	height: 100vh;
	background: url("../Img/bg.jpg") no-repeat;
}

.logo {
	height: 20%;
	display: flex;
	border: 2px solid yellow;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	color: white;
}

.logo div {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-family: 'Bebas-neue-bold';
	font-size: 30px;
}

.triangle {
	border-top: 11px solid transparent;
	border-right: 10px solid #00A4E5;
	border-bottom: 11px solid transparent;
	margin-right: 2.5px;
	margin-left: 1px;
	height: 0;
	width: 0;
}

.header_content_centr{
	border: 2px solid yellow;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header_content_centr h1{
 	margin: 0;
	font-size: 60px;
}

.header_content_down {
	border: 2px solid yellow;
	height: 18%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.menu {
	border: 2px solid red;
	max-width: 941px;
	height: 65px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #E6E6E6;

}

.logo_menu {
	display: flex;
	justify-content: center;
	align-items:center;
	border: 2px solid yellow;
	font-weight: bold;
}

.logo_menu div {
	color: black;
	display: flex;
	align-items: center;
	font-weight: bold;
	font-family: 'Bebas-neue-bold';
	font-size: 25px;
}

nav{
	list-style: none;
	text-transform: uppercase;
	display: flex;
}

nav a{
	color: #48555B;
	text-decoration: none;
	font-size: 12px;
}

nav li{
	padding-left: 5px;
	padding-right: 20px;
}

nav li a:hover{
	font-style: normal;
	font-weight: bold;
	color: #00A4E5;
}

.content_container {
	max-width: 941px;
	margin: 0 auto;
	height: 1000px;
	border: 2px solid red;
	display: flex;
	flex-direction: column;

}

.box1{
	margin-top: 20px;
	margin-bottom: 20px;
}

.box1 h2{
	display: flex;
	justify-content: center;
	color: #48555B;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 10px;
}

.box1:after{
	content: "";
	display: block;
	width: 50px;
	height: 2px;
	background-color: #00A4E5;
	margin: 0 auto;
}

.Box_All_Content{
	height: 265px;
	display: flex;
	flex-direction: row;
	color: #48555B;
}

.cont_col {
	display: flex;
	border: 2px solid red;
	flex-direction: column;
	width: 50%;
}

.cont_col_1 {
	display: flex;
	/*border: 2px solid red;*/
}

.cont_col_1 h3{
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 0.1875px;
}

.cont_col_2 {
	display: flex;
	align-items: flex-end;
/*	border: 2px solid red;*/
}

.cont_col_2 span{
	display: flex;
	/*border: 2px solid red;*/
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 23px;
}

.cont_row {
	display: flex;
	border: 2px solid green;
	flex-direction: row;
	width: 50%;
	align-items: flex-end;
	justify-content: space-between;
	position: relative;
}

.cont_row_1 {
	display: flex;
	width: 30%;
	border: 3px solid #00A4E5;
}

.cont_row_2 {
	width: 30%;
	display: flex;
	border: 3px solid #00A4E5;
}

.cont_row_3 {
	width: 30%;
	display: flex;
	border: 3px solid #00A4E5;
}

.cont_row_1 h2{
	position: absolute;
	color: white;
	margin: 0;
	left: 15px;
	top: 40px;
}

.cont_row_2 h2{
	position: absolute;
	color: white;
	margin: 0;
	left: 170px;
	top: 40px;
}

.cont_row_3 h2{
	position: absolute;
	color: white;
	margin: 0;
	left: 330px;
	top: 40px;
}

.box2{
	margin:100px 0px 80px 0px;
	border: 3px solid #00A4E5;
	display: flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #48555B;

}

.box2_content_1 {
	display: flex;
	flex-direction: column;
	width: 30%;
	border: 3px solid green;
	position: relative;
}
.box2_content_1  h2{
 	margin: 0;
 	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 5px;
}

.box2_content_1:after{
	content: "";
	display: block;
	width: 50px;
	height: 2px;
	background-color: #00A4E5;
}

.box2_content_2 {
	display: flex;
	border: 3px solid red;
	width: 50%;
}

.box2_content_text{
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 19px;
}

.box2_content_3 {
	display: flex;
	align-items: flex-end;
	border: 3px solid red;
	
}

.button_1{
	width: 150px;
	height: 40px;
	display: flex;
	border: 2px solid #00A4E5;
	background: #00A4E5;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;
	justify-content: center;
	align-items: center;
	color:#FFFFFF;
	text-decoration: none;
}

.button_1:hover{
	background: #22559c;
}

.box3{
	display: flex;
	justify-content: space-between;
	border: 3px solid green;
	color: #48555B;
}
/*первая группа элементов*/
.box3_content_1{
	padding: 20px 20px 20px 20px;
	width: 27%;
	border: 1px solid #E6E6E6;
}
.box3_content_2{
	padding: 20px 20px 20px 20px;
	width: 27%;
	border: 1px solid #E6E6E6;
}
.box3_content_3{
	padding: 20px 20px 20px 20px;
	width: 27%;
	border: 1px solid #E6E6E6;
}
.box3_img_1{
	display: flex;
	border: 3px solid green;
}

.box3_Main_text_1{
	display: flex;
	border: 3px solid red;
}

.box3_text_1{
	display: flex;
	border: 3px solid green;
}

/*вторая группа элементов*/
.box3_img_2{
	display: flex;
	border: 3px solid green;
}

.box3_Main_text_2{
	display: flex;
	border: 3px solid red;
}

.box3_text_2{
	display: flex;
	border: 3px solid green;
}

/*третья группа элементов*/
.box3_img_3{
	display: flex;
	border: 3px solid green;
}

.box3_Main_text_3{
	display: flex;
	border: 3px solid red;
}

.box3_text_3{
	display: flex;
	border: 3px solid green;
}

.footer_container{
	width: 100%;
	height: 100vh;
	background: url("../Img/bgDown.jpg") no-repeat;
}

.footer_container_up{
	width: 100%;
	height: 499px;
	display: flex;
	flex-direction: column;
}

.heading_text{
	display: flex;
	height: 30%;
	justify-content: center;
	align-items: flex-end;
	border: 3px solid red;
	color: #48555B;
}

.heading_text h2{
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.15px;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	border: 3px solid green;
}

.footer_button{
	display: flex;
	align-items: flex-start;
	height: 25%;
	justify-content: center;
	border: 3px solid red;
}

.footer_sheach{
	
	height: 100px;
	border: 3px solid orange;
	background: #171819;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.sheach_text{
	border: 3px solid red;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.846154px;

}

.sheach_btn{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border: 3px solid red;
	padding-left: 70px;

}

form.sheach_line input[type=text] {
	width: 250px;
	height: 40px;
  	background: #FFFFFF;
	border: 1px solid #979797;
  	
}

form.sheach_line button {
	width: 150px;
	height: 44px;
	float: right;
  	background: #2196F3;
  	color: white;
  	font-size: 17px;
  	border: 1px solid grey;
 	cursor: pointer;
}

form.sheach_line button i {
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.5px;
}


form.sheach_line button:hover{
	background: #22559c;
}

.footer_summary{
	border: 3px solid red;
	height: 240px;
	background: #141A20;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.company{
	border: 3px solid green;
	display: flex;
	flex-direction: column;
}

.footer_logo {
	height: 20%;
	display: flex;
	border: 2px solid yellow;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 10px;
	align-items: center;
	color: white;
}
.footer_company{
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	padding-top: 42px;
}

.company_text{
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 19px;
	letter-spacing: 0.85px;
	width: 250px;
	height: 76px;
}

.footer_logo div {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-family: 'Bebas-neue-bold';
	font-size: 30px;
}

.fotter_links_content {
	border: 3px solid green;
	display: flex;
	width: 262px;
	
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	align-items: center;

}
.fotter_links_content li{
	font-size: 12px;
	list-style: none;
	text-transform: uppercase;

}

.fotter_links_content a{
	color: white;
	text-decoration: none;
}

.col_links_1{
	border: 2px solid yellow;
}

.col_links_1 a{
	font-weight: 600;
	font-size: 11px;
	line-height: 25px;
	letter-spacing: 0.846154px;

}

.fotter_links_content li a:hover{
	font-style: normal;
	font-weight: bold;
	color: #00A4E5;
}

.col_links_2{
	border: 2px solid yellow;
}

.col_links_2 a{
	font-weight: 600;
	font-size: 11px;
	line-height: 25px;
	letter-spacing: 0.846154px;

}

.col_links_3{
	border: 2px solid yellow;
}

.col_links_3 a{
	font-weight: 600;
	font-size: 11px;
	line-height: 25px;
	letter-spacing: 0.846154px;

}

.contact{
	border: 2px solid orange;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 147px;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0.846154px;
}


.icons{
	display: flex;
	flex-direction: row;
	border: 2px solid red;
}

.icons_2 img{
	margin-left: 10px;
	margin-right: 10px;
}

.position_Infoot {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 941px;
	height: 240px;
	border: 2px solid white;
}

.copyright{
	width: 100%;
	height: 60px;
	background: #171819;
	display: flex;
	justify-content: center;
	align-items: center;
}

.copyright_text{
	display: flex;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 0.846154px;
}