*,
*:before,
*:after, {
	box-sizing: border-box;
}
/* Контейнер для разметки основного контента*/
.container {
	width: 100%;
	max-width: 941px;
	margin: 0 auto;

}

.up_container {

	widows: 100%;
	height: 100vh;
	background: url("../Img/bg.jpg");
}

